.home {
  padding-top: 60px;
  width: 100%;
  box-sizing: border-box;
}

.search-form {
  max-width: 700px;
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  background: rgba(255, 255, 255, 0.05);
  border-radius: 50px;
  padding: 0.4rem;

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border: 1px solid rgba(255, 255, 255, 0.1);

  transition: all 0.3s ease;
}

.search-form:focus-within {
  border: 1px solid #e50914;
  box-shadow: 0 0 10px rgba(229, 9, 20, 0.4);
}

.search-input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 1rem;
  padding: 0.8rem 1rem;
}

.search-input::placeholder {
  color: #aaa;
}

.search-button {
  background: linear-gradient(135deg, #e50914, #ff2a2a);
  border: none;
  border-radius: 50px;
  padding: 0.6rem 1.5rem;
  color: white;
  font-weight: 600;
  cursor: pointer;

  transition: all 0.3s ease;
}

.search-button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(229, 9, 20, 0.6);
}

@media (max-width: 639px) {
  .home {
    padding: 1rem 0;
  }

  .search-form {
    position: sticky;
    top: 80px; /* below navbar */
    /* background: #111; */
    z-index: 999;
    padding: 0.5rem;
  }
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.skeleton-card {
  height: 300px;
  border-radius: 8px;
  background: linear-gradient(90deg, #1a1a1a 25%, #2a2a2a 50%, #1a1a1a 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.error-state {
  text-align: center;
  margin-top: 2rem;
}

.error-state h2 {
  color: #ff4d4f;
}

.error-state button {
  margin-top: 1rem;
  padding: 0.5rem 1.5rem;
  background: #f5313b;
  border-radius: 5px;
  color: white;
}

.empty-state {
  text-align: center;
  margin-top: 3rem;
  color: #aaa;
}

.empty-state h2 {
  font-size: 2rem;
  color: #e50914;
}

.empty-state p {
  margin-top: 0.5rem;
}

@media (max-width: 768px) {
  .movies-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
